.pagina-landpage {
    color: var(--preto-textos);

    main {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        width: 100%;

        padding: 60px 20px;
        
        > h1 {
            font-size: 38px;
            font-weight: 700;
            margin-bottom: 20px;
        } 

        > h2 {
            font-size: 22px;
            font-weight: 400;
            margin-bottom: 30px;
        }

        .json-textarea {
            max-width: 1000px;
            width: 100%;
            position: relative;
            margin-bottom: 60px;

            > textarea {
                width: 100%;
                font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
                border-radius: 3px;

                background-color: #464646;
                color: #FFF;
                padding: 10px;
            } 

            > button {
                position: absolute;
                right: 20px;
                bottom: 20px;

                border: none;
                background: #56E39F;
                padding: 18px;
                border-radius: 100px;

                cursor: pointer;
                transition: 0.3s;

                > img {
                    position: relative;
                    left: 4px;
                    top: 2px;

                    width: 40px;
                    height: 40px;
                }
            }

            > button:hover {
                transform: scale(1.05);
            }
        }

        .modelo-result {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            padding: 26px 20px;
            width: 100%;
            max-width: 1000px;

            background-color: #D9D9D9;
        }
    }
}