.plans {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: relative;

        overflow-x: hidden;

        flex-grow: 1;
        width: 100%;
        padding: 83px 20px 139px 20px;

        background-color: #333333;
        color: #FFF;

        height: 100%;

        >* {
            font-family: "Mukta";
        }

        >.star2 {
            z-index: 0;
            position: absolute;
            top: 33px;
            right: calc(50vw + 416px);
        }

        >.star1 {
            z-index: 0;
            position: absolute;
            top: 63px;
            left: calc(50vw + 446px);
        }

        >h1 {
            font-size: 50px;
            font-weight: 700;
            color: #b89b19;
            text-shadow: #00000040 0 4px 4px;

            margin-bottom: 10px;
        }

        >h2 {
            font-size: 32px;
            font-weight: 700;
            color: #EFEFEF;

            margin-bottom: 59px;
        }

        .sec-order {

            display: flex;
            flex-direction: column;
            gap: 15px;

            .history {
                display: flex;
                justify-content: center;
                gap: 38px;
                margin-top: 45px;

                span {
                    position: relative;

                    h3 {
                        right: 50%;
                        transform: translate(50%, 0);
                        top: -40px;
                        position: absolute;
                        text-wrap: nowrap;

                        font-size: 16px;
                        font-weight: 400;
                        color: #96A2A9;
                    }
                }

                hr {
                    border: 1px solid #535353;
                    width: 87px;
                    height: 0px;
                }
            }

            .order {
                line-height: 100%;

                padding: 60px 45px 38px;
                display: flex;
                flex-direction: column;
                text-align: left;
                align-items: flex-start;

                background-color: #363635;
                color: #F5F5F5;
                border: 1px solid #413F3B;

                max-width: 465px;

                h3 {
                    font-size: 22px;
                    font-weight: 900;
                    margin-bottom: 9px;

                    color: #B89B19;
                    text-shadow: 0 4px 4px #00000040;
                }

                h4 {
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 39px;
                }

                >div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    margin-bottom: 13px;

                    img {
                        width: 50px;
                        height: 50px;
                        margin-right: 8px;
                    }

                    p {
                        line-height: 116%;
                        font-size: 16px;
                        font-weight: 500;
                        margin-right: 30px;
                    }

                    h5 {
                        font-size: 28px;
                        font-weight: 700;

                        span {
                            font-size: 16px;
                        }
                    }
                }

                hr {
                    width: 50%;
                    align-self: center;
                    border: 1px solid #434153;
                    margin-bottom: 67px;
                }

                .next {
                    background-color: #B89B19;
                    color: #FFF;
                    margin-bottom: 16px;

                    font-size: 16px;
                    font-weight: 700;
                    padding: 15px;
                    width: 90%;
                    align-self: center;

                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        transform: translateY(-1px);
                        box-shadow: 0 0 4px 2px #b89b1942;
                    }
                }

                .cancel, .back {
                    font-size: 14px;
                    font-weight: 700;
                    text-decoration: underline;
                    align-self: center;

                    color: #C1C1C1;
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        color: #FFF;
                    }
                }
            }
        }
    }
}