.sign-up {
    justify-content: center;
    background-color: #333;

    >div:not(.cont-toaster) {
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 100%;
        max-width: 850px;
        padding: 94px 85px;
        border-radius: 5px;

        box-shadow: 0 0 25px 10px rgba($color: #232323, $alpha: 0.25);

        >img {
            width: 100%;
            max-width: 234px;
            margin-bottom: 20px;
        }

        >.inputs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            gap: 25px;

            >div {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 11px;

                >input {
                    color: #fff;
                    font-size: 16px;
                    font-weight: 700;

                    border-radius: 8px;
                    padding: 16px 18px;

                    border: 1px solid #404040;
                    background-color: #303030;

                    transition: 0.3s;

                    &:focus-visible {
                        outline: none;

                        box-shadow: 0 0 4px 1px #ffffff3d;
                    }
                }

                >input::placeholder {
                    color: #bbb;
                }

                >button {
                    background-color: #b89b19;
                    color: #e0e0e0;

                    font-size: 18px;
                    font-weight: 700;
                    padding: 16px;

                    border-radius: 8px;
                    border: none;

                    margin-top: 11px;

                    cursor: pointer;
                    transition: 0.3s;
                }

                >button:hover {
                    transform: scale(1.03);
                }
            }
        }
    }
}