.collection {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: 400px;
    width: 100%;

    color: #FFF;
    background-color: #404040;

    * {
        font-family: 'Inria Sans';
    }

    > header {
        width: 100%;
        padding: 7px;

        background-color: #08B6E2;

        > h2 {
            font-size: 16px;
            font-weight: 700;
        }
    }

    .collection-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        > div {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 7px 11px;

            > div {
                display: flex;
            }

            img {
                width: 22px;
                height: 17px;
                margin-right: 10px;
            }

            h3, h4, span {
                font-size: 12px;
                font-weight: 700;
            }

            h4, span {
                font-style: italic;
            }

            span {
                margin-left: 10px;
            }
        }

        > .collection-field {
            padding: 0;
        }
    }    
}